<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!--Import Google API with blockchain-nda client ID-->
    <meta name="google-signin-client_id" content="441101200744-b4ckrggqo5na20amg5lhus24cgvjm14a.apps.googleusercontent.com">
    <!--Import bootstrap.css-->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <!--Import materialsIcons.css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import style.css-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--Import pure.css-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <!--Import sidenavbar.css-->
    <link rel="stylesheet" href="/stylesheets/sidenavbar.css" />
</head>

<body>
    <!--SIDENAV BAR-->
    <div class="row gen">
        <div class="col s12 m4 l3">
            <ul id="slide-out" class="side-nav fixed collection">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/user_background.jpg">
                        </div>
                        <a href="#!user"><img class="circle" src="/images/avatar.png" alt="avatar"></a>
                        <a><span class="black-text name">{{ userFullname }}</span></a>
                        <a><span class="black-text email">{{ userEmail }}</span></a>
                    </div>
                </li>
                <li><a class="waves-effect item" href="/"><i class="material-icons">home</i>Homepage</a></li>
                <li><a class="waves-effect item" href="upload"><i class="material-icons">file_upload</i>Upload</a></li>
                <li><a class="waves-effect item" href="review"><i class="material-icons">folder</i>Review</a></li>
                <li><a class="waves-effect item" href="contract"><i class="material-icons left">search</i>Find Hash</a></li>
                <li><a class="waves-effect item" href="#!"><i class="material-icons left">group</i>Share</a></li>
                <li><a class="waves-effect item" href="logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        </div>
    </div>
    <div class="col s12 m8 l9">
        {{{body}}}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <!--Import web3.js-->
    <script src="/javascript/web3_dist/web3.min.js"></script>
    <!--Import dropzone.js-->
    <script src="/stylesheets/dropzone/dropzone.js"></script>
    <!--Import tether.js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <!--Import boostrap.js-->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
    <!--Import materialize.js-->
    <script type="text/javascript" src="/javascript/materialize/materialize.js"></script>
    <!--Import Google Platform Library-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!--Import Google Platform Library Render button-->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <script type="text/javascript" src="/javascript/sidenavbar.js"></script>

    <script>
        // $(document).ready(function() {
        //     $('.close').click(function(event){
        //         var eventDetails = 'Event = ' + event.target.id;
        //         console.log(eventDetails);
        //     });
        // });

    // $(document).ready(function() {
    //   $(".hash").each (function () {
    //     var text = $(this).text();
    //     if (text.length > 27)
    //      $(this).text(text.substring(0,27) + ' ' + text.substring(27));
    //     });
    // });

    //     $(document).ready(function() {

    //         $(".hash").text("here");
    //         $("#hash2").text("here2");
    //         $(".hash").each (function () {
    //             var text = $(this).text();
    //             if (text.length > 27)
    //                 var hash1 = text.substring(0,27);
    //                 var hash2 = text.substring(27,55);
    //                 //$(this).text(hash1);
    //                 $(".hash").text("here");
    //                 //document.getElementById("#hash2").innerHTML = "here";
    //                 $("#hash2").text("here2");
                
    //     });
    // });
    </script>
</body>

</html>