<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!--Import Google API with blockchain-nda client ID-->
    <meta name="google-signin-client_id" content="441101200744-b4ckrggqo5na20amg5lhus24cgvjm14a.apps.googleusercontent.com">
    <!--Import bootstrap.css-->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <!--Import materialsIcons.css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import style.css-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--Import pure.css-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <!--Import navbar.css-->
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
</head>
<header>
    <!--NAVBAR-->
    <nav class="general">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo black-text">Home</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{# if loggedIn}}
                    <li><a href="upload" class="black-text">Profile</a></li>
                    <li><a href="logout" class="black-text">Logout</a></li>
                {{ else }}
                    <li><a href="register" class="black-text">Sign up</a></li>
                    <li><a href="login" class="black-text">Login</a></li>
                {{/ if}}
            </ul>
        </div>
    </nav>
</header>

<body>
    {{{body}}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <!--Import web3.js-->
    <script src="/javascript/web3_dist/web3.min.js"></script>
    <!--Import dropzone.js-->
    <script src="/stylesheets/dropzone/dropzone.js"></script>
    <!--Import tether.js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <!--Import boostrap.js-->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
    <!--Import materialize.js-->
    <script type="text/javascript" src="/javascript/materialize/materialize.js"></script>
    <!--Import Google Platform Library-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!--Import Google Platform Library Render button-->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>

    <script type="text/javascript" src="/javascript/register.js"></script>
    <script type="text/javascript" src="/javascript/navbar.js"></script>
</body>
</html>