<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
	<title>About</title>
	</head>

<div class="main container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="display-4 m-b-2">About Us</h1>
      <p>Bookworm is a friendly community where book lovers can discover and share books. See which books your friends are reading, and keep track of books you&apos;re reading or want to read.</p>
      <p>Sed dictum dolor vitae dignissim scelerisque. Ut tincidunt, tortor at accumsan eleifend, tellus lectus vestibulum nibh, accumsan sagittis turpis nisl eu mauris. Mauris ut laoreet sapien. Nam suscipit, dui at condimentum accumsan, dui sapien tincidunt.</p><a href="/register" class="btn btn-info-outline btn-lg m-t-1">Get Started for FREE</a>
    </div>
  </div>
</div>

</html>