<main>
	<h3>Find the Hash in a smart contract</h3>
	<form class="col s12" method="POST" action="/contract">
		<div class="row">
		    <div class="col s12">
		        Enter an address of a Smart Contract:
		        <div class="input-field inline">
		            <input id="contractAddress" name="contractAddress" type="text">
		            <label for="contractAddress">Contract Address</label>
		        </div>
		    </div>
		</div>
		<div class="row">
            <div class="input-field col s5">
                <button class="btn waves-effect waves-light right" style="margin-top:-30px;" id="search-btn" type="submit" name="action">Search
                </button>
            </div>
        </div>
	</form>
	{{# if findHash}}
		<div class ="row">
			<p>Hash found: <b>{{ findHash }}</b>
			</p>
		</div>
	{{/ if }}
	{{# if hashError }}
        <div class="row">
            <div class="col s4">
                <span class="badge red white-text left">{{ hashError }}</span>
            </div>
        </div>
	{{/ if}}
</main>