<main id="contract-page">
	<h3>Find the Document's Hash in a smart contract</h3>
		<div class="row">
		    <div class="col s12">
		        Enter the address of an Ethereum Smart Contract:
		        <div class="input-field inline">
		            <input id="contractAddress" name="contractAddress" type="text" style="padding-right:192px;">
		            <label for="contractAddress">Contract Address</label>
		        </div>
		    </div>
		</div>
            <div class="input-field col s5">
                <button class="btn waves-effect waves-light" style="margin-top:-30px;margin-left:28%;background-color:#2a4c84;" id="search-btn">Search
                </button>
            </div>
		<div>
			<p id="invalidAddress" class = "red-text"style="display:none;"> <b>This Address is not valid </b></p>
			<p id="hashNotFound" class = "red-text"style="display:none;"> <b>A Hash was not found at this address </b></p>
			<p id="hashFound" style="display:none;"><span class = "green-text"><b>Hash found in contract: </b></span><b id="displayResult"></b> </p>
		</div>
</main>