<!DOCTYPE html>
<html>
<head>
	<% include layout.ejs %>
	<title>Error</title>
	</head>

<div class="main container">
  <div class="row text-xs-center">
    <div class="col-md-6 col-md-offset-3 p-t-2"><i class="icn-person material-icons">error</i>
      <p class="lead m-t-2"></p>
    </div>
  </div>
</div>

</html>
