<!DOCTYPE html>
<html>
<head>
	<% include layout.ejs %>
	<title>Homepage</title>
  <link rel="stylesheet" href="/stylesheets/landingpage.css"/>
	</head>

	<header>
		<% include navbar.ejs %>
	</header>

<body>
  <div class="container">
    <div class="jumbotron">
      
        <h1>
          Begin storing your documents on the Blockchain!
        </h1>
      <center>
      <button class="waves-effect waves-light btn-large">Get Started</button>
      </center>
    </div>
  </div>
  <div class="panels">
    <center>
     <div class="row">
      <div class="col-sm-4">
        <h3>Problem</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec nisi sed mi lacinia ultrices vitae mattis ipsum. Nunc at accumsan neque. Suspendisse potenti. Integer posuere nec mi ac bibendum. Proin blandit blandit tincidunt.</p>
      </div>
      <div class="col-sm-4">
        <h3>Solution</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec nisi sed mi lacinia ultrices vitae mattis ipsum. Nunc at accumsan neque. Suspendisse potenti. Integer posuere nec mi ac bibendum. Proin blandit blandit tincidunt.</p>
      </div>
      <div class="col-sm-4">
        <h3>How It Works</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec nisi sed mi lacinia ultrices vitae mattis ipsum. Nunc at accumsan neque. Suspendisse potenti. Integer posuere nec mi ac bibendum. Proin blandit blandit tincidunt.</p>
      </div>
     </div> 
    </center>
  </div>
  
</body>

</html>



