<head>
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<div class="general" style="background-color:#769fe0" id="index-page">
    <div class="container white-text" style="padding-top:1px;">
            <h1 style="text-align:center"><b>
          DocuHash
            </b></h1>
            <h4 style="text-align:center">
                Verify your documents on the Ethereum Blockchain
            </h4>
    </div>
    <div class="break"></div>
    <div class="row" style="background-color:white;">
        <div class="col s6">
            <form id="my" enctype="multipart/form-data" action="/upload" method="POST" class="dropzone">
                <div class="dz-message"><span>Upload Files Here</span></div>
                <div class="fallback">
                    <input name="fileUpload" type= "file" />
                </div>
            </form>
        </div>
        <div class="col s6">
            <h3 style="text-align:center;"><u>The Steps</u></h3>
            <ol style="margin-left:30px;">
                <li>Upload a PDF or TXT file</li>
                <li>The document will be hashed</li>
                <li>The document will be deleted from the server</li>
                <li>You will be given the option to store the Hash on the Ethereum Blockchain</li>
            </br><p style="text-align:center;color:#d80428;"><b>NOTE: The data in your document nor the document itself will be put on the blockchain, simply the hash</b><p>
            <ol>
        </div>

    </div>
    <div class="break" style="margin-top:-20px"></div>
   {{!--  <div class="break"></div> --}}

    <div>
        <div class="container">
            <div class="panels" id="indexPanels">
                <div class="row">
                    <div class="col s7">
                        <h3><b>Why Use This Service?</b></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5">
                        <i class="material-icons medium">lightbulb_outline</i>
                        <p>How can you trust that a document hasn't been changed when you are storing that document on your computer or in some database?</p>
                    </div>
                    <div class="col s2">
                    </div>
                    <div class="col s5">
                        <i class="material-icons medium" style="margin-right:10px;">cloud_queue</i>
                        <i class="material-icons medium">chevron_right</i>
                        <img src="/images/eth_logo.png" height="70px"width="70px" style="margin-bottom:-5px;margin-left:-5px;"/>
                        <p>We will hash your documents then store that hash on our servers and the Ethereum Blockchain</p>
                        {{!-- <p>Each character in the document is used in the creation of a unique string of letters and numbers called a Hash. This Hash is stored on the immutable Ethereum Blockchain meaning it cannot ever be changed or deleted. Therefore, so long as the document in your possession matches the hash on the Blockchain, you have complete certainty that the document in your posession is the original, unmodified version.</p> --}}
                    </div>
                    {{!-- <div class="col s4">
                        <h3>How It Works</h3>
                        <p>Once a document has been uploaded, it is put through a Sha3 hashing algorithm. This outputs a Hash that is then passed into a smart contract and deployed onto the Ethereum Blockchain. We will provide each user with the contract address, a timestamp, and the hash of the document. </p>
                    </div> --}}
                </div>
                <div class="row">
                    <div class="col s10">
                        <h3><b>What is the Ethereum Blockchain?</b></h3>
                    </div>
                    <div class="col s8">
                        <p>"Ethereum is a decentralized platform that runs smart contracts: applications that run exactly as programmed without any possibility of downtime, censorship, fraud or third-party interference."</br> (“Ethereum Project.” Ethereum Project, <a id="nonBlueLinks" href="https://www.ethereum.org/" target="_blank">www.ethereum.org/.</a>)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <h3><b>The Cost?</b></h3>
                    </div>
                    <div class="col s1">
                    </div>
                    <div class="col s5">
                        <h3><b>What is Gas?</b></h3>
                    </div>
                    <div class="col s6">
                        <p>Typically <b>~0.005 ETH</b> to put one document hash on the blockchain, however this price will vary slightly depending on the gas price. Feel free to check <a id="nonBlueLinks" target="_blank" href="https://ethgasstation.info/index.php">www.ethgasstation.info</a> to get more information about current gas prices.</p>
                    </div>
                    <div class="col s1">
                    </div>
                    <div class="col s5">
                        <p>Gas is used to pay mandatory transaction fees to the Ethereum Blockchain when doing things like storing a document's hash onto it.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>