<!DOCTYPE html>
<html>
<head>
<% include layout.ejs %>
<title>Login</title>
</head>
	<body>
		<div class="main container" style="color:#686b70;">
			<form class="pure-form" method="POST" action="/login">
			    <fieldset>
			        <legend>A compact inline form</legend>

			        <input type="email" placeholder="Email">
			        <input type="password" placeholder="Password">

			        <label for="remember">
			            <input id="remember" type="checkbox"> Remember me
			        </label>

			        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
			    </fieldset>
			</form>
		</div>

	</body>
</html>