<!DOCTYPE html>
<html>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggler hidden-md-up pull-xs-right">&#x2630;</button>
  <div id="navbar" class="navbar-nav collapse navbar-toggleable-sm">
    <div class="container"><a href="/" class="navbar-brand"><i class="icn-logo material-icons">bookmark_border</i>Bookworm</a>
      <div class="nav-items clearfix"><a href="register" class="nav-item nav-link">Sign Up</a><a href="about" class="nav-item nav-link">About</a><a href="contact" class="nav-item nav-link">Contact</a><a href="profile" class="nav-item nav-link">My Profile</a></div><a href="login" class="btn btn-info pull-md-right">Login</a>
    </div>
  </div>
</nav>
</html>
