<head>
        <link rel="stylesheet" href="/stylesheets/register.css" />
</head>

<main id ="register-page">
    {{# if messageReg}} 
        <div class="row">
            <div class="col s4">
                <span class="badge red white-text left">{{messageReg}}</span></br>
            </div>
        </div>
        {{/ if}}
        {{# if errorsReg}}
        <section>
            <ul>
                {{# each errorsReg}} 
                    <div class="row">
                        <div class="col s4">
                             <span class="badge red white-text left">{{this.msg}}</span></br>
                        </div>
                    </div>
                {{/ each}}
            </ul>
        </section>
        {{/ if}}
    <div class="row">
        <div class="col s6">
            <h3>Register</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <hr style="width:400px;text-align:left;margin-left:0;margin-top:-20px;margin-bottom: -20px;">
        </div>
    </div>
    <div class="row">
        <form class="col s8" method="POST" action="/register">
            <div class="row">
                <div class="input-field col s6">
                    <input id="fullname" type="text" class="validate" name="fullname">
                    <label id ="nameError" for="fullname">Full Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="username" type="text" class="validate" name="username">
                    <label id ="userError" for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate" name="email">
                    <label id ="emailError" for="email">Email</label>
                </div>
{{!--                 <div class="input-field col s1">
                    <h4 style="margin-left:200px;">OR</h4>
                </div> --}}
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" name="password">
                    <label id="passError" for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="confirmPassword" type="password" class="validate" name="confirmPassword">
                    <label id="confirmError" for="confirmPassword">Confirm Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <img src="/images/reg-loader.gif" id="regloader" width="15%" height="15%" style="margin-left:80%; display:none;"/>
                    <button class="btn waves-effect waves-light right" style="margin-top:-30px;background-color:#2a4c84;" id="submit-btn" type="submit" name="action">Sign Up
                    </button>
                </div>
            </div>
        </form>
        <div class="col s4">
            <h3>Why Sign up?</h3>
            <p>We will store all of your document hashes in one organized place for free.</p>
        </div>
        {{!-- <div class="col s4">
            <div class="g-signin2" data-width="240" data-height="50" data-longtitle="true" href="upload">
        </div> --}}
    </div>
</main>