<!DOCTYPE html>
<html>
<body>
  
    <ul id="slide-out" class="side-nav fixed collection">
      
      <li><a class="waves-effect item" href="#!"><i class="material-icons">home</i>Home</a></li>
      
      <li><a class="waves-effect item" href="#!"><i class="material-icons">file_upload</i>Upload</a></li>
      
      <li><a class="waves-effect item" href="#!"><i class="material-icons">folder</i>Review</a></li>
      
      <li><a class="waves-effect item" href="#!">
        <i class="material-icons">share</i>Share</a></li>
      
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    
</body>
</html>