{{!-- <main>
    <div id ="upload-page"></div>
    <div class="container">
        {{# if uploadSuccess}}
        <div class="row">
            <div class="col s4">
                <span class="badge green white-text left">{{uploadSuccess}}</span>
            </div>
        </div>
        {{/ if}} 
        {{# if uploadError}}
        <div class="row">
            <div class="col s4">
                <span class="badge red white-text left">{{uploadError}}</span>
            </div>
        </div>
        {{/ if}} 
        <form id="myUpload" enctype="multipart/form-data" action="/upload" method="POST" class="dropzone">
            <div class="fallback">
                <input name="fileUpload" type= "file" />
            </div>
        </form>
    </div>
</main> --}}