/*This Style sheet Styles ALL pages*/
@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway";
    font-weight:bold;
    src: url("/fonts/Raleway/Raleway-Bold.ttf");
}
body{
	font-family: 'Raleway', sans-serif;
}
label[data-error]:after {
    white-space: nowrap;
}
